body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('images/476440824_1134764624774354_8858001376767445137_n.jpg') no-repeat center center fixed;;
    background-size: cover;
  }
  

  .login-container {
    background-color: #fff;
    padding: 20px;
    width: 400px;  
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 50px auto;  
    text-align: center;
  }
  .display-image {
    width: 100%;            
    height: auto;
    margin-bottom: 10px;     
    border-radius: 4px;   
  }
  
  .display-video {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  

  .create-account {
    background-color: #FF69B4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .create-account:hover {
    background-color: #D85A9E;
  }
  